{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Recorder</title>
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;900&display=swap" rel="stylesheet">
</head>

<body>

    <!-- <nav class="nav">
        <div class="container">
            <div class="nav_content">
                <div class="logo">
                    <a href="../" class="logo_text">OperationWhale</a>
                </div>
                <ul class="nav_list">
                    <li><a href="index.html" class="nav_link">Home</a></li>
                    <li><a href="recorder.html" class="nav_link">Recorder</a></li>
                </ul>
                <div class="nav_items">
                    <a href="https://github.com/Krishnateja001/operationWhale" class="btn nav_btn">My Github</a>
                    <span class="menu_btn"><i class="fas fa-bars"></i></span>
                </div>
            </div>
        </div>
    </nav> -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="logo_text">
                    <img src="../static/img/logo.jpg">
                </a>
            </div>
            <!-- <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon"></span> Home</a></li>
                <li><a href="apps/recorder.html"><span class="glyphicon "></span> Recorder</a></li>
            </ul>
        </div>
    </nav>

    <main class="main recorder">
        <h1 class="title">Voice recorder <i class="fas fa-microphone"></i></h1>
        <div class="container">
            <div class="wrapper recorder_body">
                <div class="voice_record">
                    <button class="microphone record_btn"><i class="fas fa-microphone-alt"></i></button>
                    <p class="recorder_text">Press and hold to record sound</p>
                    <span class="indicator">Recording <i class="fas fa-circle"></i></span>

                <div class="output_record">
                    <audio src="" controls class="output_audio">Output audio</audio>
                </div>
            </div class='row'>
                {%block content%}
                {%endblock%}
            <div>
            </div>
        </div>
        <div class="social-bar">
            <a href="https://github.com/Krishnateja001/operationWhale">
                <div class="social-bar__item social-bar__github">
                    <i class="fab fa-github" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </main>

    <script src="{% static 'js/recorder.js'%}"></script>
    <script src="{% static 'js/nav.js'%}"></script>
</body>

</html>